[flake8]
exclude =
  .git/
  .pytest_cache/
  tests/
  examples/
  alab_management/_default
  alab_management/dashboard/ui/
  client/
max-line-length = 120
docstring-convention=google
inline-quotes = "
ignore =
  C408
  E121
  E123
  E126
  E226
  E24
  E704
  F401
  W291
  W503
  W504
  W605
  I
  N
  B001
  B002
  B003
  B004
  B005
  B007
  B008
  B009
  B010
  B011
  B012
  B013
  B014
  B015
  B016
  B017
  D200
  D212
  D415
  D104
  D107
  D100
  D103
  D102
  D105
  D205