toml~=0.10.1
pymongo>=3.11.2
flask>=1.1.2
pydantic~=1.10.4
click>=7.1.2
gevent>=21.8.0
monty>=2021.8.17
dramatiq[rabbitmq]>=1.12.3
requests>=2.26.0
pika>=1.2.0
dill>=0.3.4
networkx>=2.6
plotly>=5.9.0
dash>=2.7.0
dash_mantine_components>=0.12.1
numpy>=1.21.2
matplotlib>=3.4.3
dramatiq-abort @ git+https://github.com/idocx/dramatiq-abort
slack_sdk>=3.19.5
flask_cors
pytest-env ~= 0.6.2
