p {
    font-size: 1.05rem !important;
}

nav.bd-links {
    flex: 1 0 auto;
}

#site-navigation {
    display: flex;
    flex-direction: column;
}

#site-navigation div.navbar_extra_footer {
    margin-bottom: 8pt;
    font-size: 0.85rem;
}