name: Pages

on:
  push:
    branches:
      - main
      - production
  pull_request:
    branches:
      - main
      - production

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Set up dependencies
        run: pip install '.[docs]'
      - name: Compile sphinx
        working-directory: .
        run: |
          python -m sphinx -T -E -b html -d _build/doctrees -D language=en ./docs/source _build/html
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/html
          publish_branch: sphinx-docs
          exclude_assets: '.github,**/_static/__pycache__,**/_static/__init__.py'
